h1{
    text-align: center;
}
body{
    background-color: aliceblue;
}
h1{
   font-size: x-large;
}
h2{
    font-size: x-large;
}
h3{
    font-size: x-large;
}
h4{
    font-size: x-large;
}


